@media screen and (min-width: 640px) {
    .container{
        min-width: 640px;
    }


    .header-title{
        font-size: 24px;
        padding: 22px 34px;
    }

    .burger__button {
        padding: 36px 42px;
    }

    .burger__button i {
        width: 30px;
        height: 4px;
        top: 24px;
        left: 28px;
        transition: all .4s linear;
        transform-origin: -5px 2px;
    }

    .burger__button i:nth-child(2) {
        top: 32px;
    }

    .burger__button i:nth-child(3) {
        top: 40px;
    }

    .burger__button_opened i:nth-child(1) {
        width: 48px;
        top: 12px;
    }

    .burger__button_opened i:nth-child(3) {
        transform: rotate(-45deg);
        width: 48px;
        top: 52px;
    }

    .section-top{
        background-image: url('../img/img640/section-top.png');
        padding: 174px 0;
        margin-bottom: 4px;
    }

    .section-top-title-first {
        font-size: 32px;
        padding: 34px 0 0 40px
    }

    .section-top-title-second{
        font-size: 32px;
        padding: 12px 0 0 40px
    }

    .section-top-link{
        font-size: 28px;
        padding: 20px 0 0 40px;
    }

    .dropdawn-menu{
        position: absolute;
        top:74px;
        left: -282px;
        z-index: 2;
    }

    .dropdawn-menu-listitem{
        border:2px solid #f5f5f5;
        width: 326px;
        padding: 18px;
    }

    .dropdawn-menu-listitem-text{
        font-size: 24px;
    }

    .pizza-delivery, .salads, .deserts{
        background-image: url('../img/img640/pizzadelivery.png');
        padding:74px 0;
        margin-bottom:5px;
    }

    .pizza-delivery-title, .salads-title, .deserts-title{
        position: absolute;
        top: 54px;
        left: 126px;
        font-size: 40px;
    }

    .salads{
        background-image: url('../img/img640/saleds.png');
    }

    .salads-title{
        top: 56px;
        left: 148px;
    }


    .deserts{
        background-image: url('../img/img640/desserts.png');
    }

    .deserts-title{
        top: 50px;
        left: 166px;
    }

    .arrow{
        left: 500px;
        background-color: #acd8ad;
        padding: 61px 61px;
        font-size:25px;
    }

    .slogan-title{
        font-size: 36px;
        padding: 30px 0 0 0;
    }

    .slogan-title-text{
        font-size: 22px;
        padding: 6px 0px 26px 47px;
    }

    .menu{
        font-size: 38px;
        padding: 18px 50px;
    }

    .pizza-menu,.alcohol-menu,.hotdrink-menu, .beer-menu{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 572px;
    }

    .pizza-menu-text, .alcohol-menu-text, .hotdrink-menu-text, .beer-menu-text{
        font-size: 30px;
        padding: 26px 12px;
    }

    .alcohol-menu-text{
        padding:46px 0px 20px 2px;
    }

    .beer-menu-text{
        padding:42px 0px 20px 2px;
    }

    .icon-pizza, .icon-glasswine, .icon-cup, .icon-beerglass{
        background-image:url('../img/img640/pizza-icon.png');
        top: 16px;
        left: 520px;
        padding: 24px 24px;
    }

    .icon-glasswine{
        background-image:url('../img/img640/glasswine-icon.png');
        top: 38px;
        left: 532px;
        padding: 24px 16px;
    }

    .icon-cup{
        background-image:url('../img/img640/cup-icon.png');
        top: 10px;
        left: 257px;
        padding: 12px 16px;
    }

    .icon-cup{
         background-image:url('../img/img640/cup-icon.png');
         top: 20px;
         left: 514px;
         padding: 24px 32px;
     }

    .icon-beerglass{
        background-image:url('../img/img640/beerglass-icon.png');
        top: 38px;
        left: 518px;
        padding: 24px 24px;
    }

    .pizza-menu-list, .alcohol-menu-list,.hotdrink-menu-list, .bear-menu-list{
        width: 574px;
    }

    .pizza-menu-list-item, .alcohol-menu-list-item,.hotdrink-menu-list-item, .bear-menu-list-item{
        font-size: 28px;
        padding: 18px 0 0 0px;
    }

    .prise-pizza,.prise-vine,.hotdrink-price,.prise-beer {
        font-size: 26px;
    }

    .pizza-description,.vine-description,.hot-drink-discription, .beer-description{
        font-family: lato, sans-serif;
        font-size: 18px;
        padding: 18px 0 0 0;
    }

    .drink-slogan{
        width: 640px;
        margin: 42px 0 0 auto;
    }

    .drink-slogan-text{
        font-family: lato, sans-serif;
        font-size: 40px;
        color: rgba(255, 255, 255, 255);
        text-transform: uppercase;
        padding: 17px 36px;
    }

    .footer-content{
        margin: 121px auto 0 0;
        padding: 20px 0;
    }

    .footer-content-text-first, .footer-content-text-second{
        font-family: lato, sans-serif;
        font-size: 20px;
        color: rgba(255, 255, 255, 255);
        padding: 8px 0 0px 0px;
    }

}

@media screen and (min-width: 980px){

    .container{
        width: 980px;
    }

    .header-title, .burger{
        display: none;
    }

    .header-container{
        display: flex;
        background-color: #373c3f;
        justify-content: space-between;
        padding: 6px 20px;
        width: 980px;
    }

    .header-container-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-container-navbar-items{
        font-size: 15px;
        color: rgba(235, 235, 235, 255);
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        padding: 0 10px;
    }
    .header-container-logo{
        background-image: url('../img/img980/nav-logo-pizza.png');
        background-repeat: no-repeat;
        padding: 41px 57px ;
    }
}


.section-top{
    background-image: url('../img/img980/section-top.png');
    padding: 264px 0;
    margin-bottom: 2px;
}


.section-top-title-first {
    font-size: 54px;
    padding: 17px 0 0 33px;
}

.section-top-title-second{
    font-size: 54px;
    padding: 13px 0 0 32px;
}
.section-top-link{
    font-size: 34px;
    padding: 55px 0 0px 32px;
}



