body{
    font-family: Arial,'sans-serif';
}

.container{
    min-width: 320px;
    margin:0 auto
}


.header{
    /*padding: 8px;*/
    background-color: #373c3f;
    display: flex;
    justify-content: space-between;
}

.header-title{
    color: rgba(255, 255, 255,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 11px 17px;
}

.burger {
    display: flex;
    box-sizing: border-box;
}


.burger__button {
    position: relative;
    /*height: 20px;*/
    /*width: 20px;*/
    padding: 18px 21px;
    background-color: #202529;
}

.burger__button i {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 1;
    top: 12px;
    left: 14px;
    transition: all .4s linear;
    transform-origin: -2.5px 1px;
}

.burger__button i:nth-child(2) {
    top: 16px;
}

.burger__button i:nth-child(3) {
    top: 20px;
}


.burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
    width: 24px;
    top: 6px;
}

.burger__button_opened i:nth-child(2) {
    opacity: 0;
}

.burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
    width: 24px;
    top: 26px;

}

.burger__button:hover .dropdawn-menu{
    display: flex;
}

.header-container{
    display: none;
}

.section-top{
    background-image: url('../img/img320/section-top.png');
    padding: 87px 0;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    position:relative;
}

.section-top-titles{
    position: absolute;
    top:0;
    left:0;
}

.section-top-title-first {
    font-family: lato, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 255);
    padding: 17px 0 0 20px
}

.section-top-title-second{
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    font-family: lato, sans-serif;
    padding: 6px 0 0 20px;
}
.section-top-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    font-family: lato, sans-serif;
    display: inline-block;
    padding: 10px 0 0 20px;
    color: rgba(166, 214, 224, 255);
}

.dropdawn-menu{
    position: absolute;
    top:36px;
    left: -141px;
    display: none;
    z-index: 1;
}

/*.dropdawn-menu-active{*/
/*    display: flex;*/
/*}*/

.dropdawn-menu-listitem{
    background-color: #fafafa;
    border:1px solid #f5f5f5;
    width: 163px;
    padding: 9px;
}

.dropdawn-menu-listitem:hover{
    background-color: #f5f5f5;
}

.dropdawn-menu-listitem-text{
    color: rgba(68, 68, 68, 255);
    font-family: lato, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.products-gallery{
    display: flex;
    flex-direction: column;
}

.pizza-delivery, .salads, .deserts{
    background-image: url('../img/img320/pizzadelivery.png');
    background-repeat: no-repeat;
    position:relative;
    padding:38px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom:2px;
}

.pizza-delivery-title, .salads-title, .deserts-title{
    position: absolute;
    top: 26px;
    left: 63px;
    font-weight: 700;
    font-size: 20px;
    font-family: lato, sans-serif;
    color: rgba(255, 255, 255, 255);
}


.salads{
    background-image: url('../img/img320/saleds.png');
}

.salads-title{
    top: 28px;
    left: 74px;
}


.deserts{
    background-image: url('../img/img320/desserts.png');
}

.deserts-title{
    top: 25px;
    left: 83px;
}

.arrow{
    position: absolute;
    top: 0px;
    left: 248px;
    background-color: #acd8ad;
    padding: 30px 31px;
    color: #f6f6f3;
}

.slogan-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: rgba(63, 64, 67, 255);
    font-family: lato, sans-serif;
    padding: 19px 0 0 0;
    text-transform: uppercase;
}

.slogan-title-text{
    font-family: lato, sans-serif;
    font-size: 11px;
    color: rgba(203, 204, 206, 255);
    padding: 3px 0px 9px 15px;
}

.menu{
    font-size: 19px;
    color: rgba(172, 216, 173, 255);
    font-family: lato, sans-serif;
    background-color: #3f4043;
    text-transform: uppercase;
    padding: 9px 25px;
}

.menu-container{
display:flex;
flex-direction: column;
}

.pizza-menu,.alcohol-menu,.hotdrink-menu, .beer-menu{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 286px;
    margin: 0 auto;
}

.pizza-menu-text, .alcohol-menu-text, .hotdrink-menu-text, .beer-menu-text{
    font-family: lato, sans-serif;
    font-size: 15px;
    color: rgba(63, 64, 67, 255);
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    padding: 13px 1px;
}

.alcohol-menu-text{
    padding:23px 0px 10px 1px;
}

.beer-menu-text{
    padding:21px 0px 10px 1px;
}


.icon-pizza, .icon-glasswine, .icon-cup, .icon-beerglass{
    background-image:url('../img/img320/pizza-icon.png');
    background-repeat:no-repeat ;
    position:absolute;
    top: 11px;
    left: 260px;
    padding: 12px 12px;
}

.icon-glasswine{
    background-image:url('../img/img320/glasswine-icon.png');
    top: 19px;
    left: 266px;
    padding: 12px 8px;
}

.icon-cup{
    background-image:url('../img/img320/cup-icon.png');
    top: 10px;
    left: 257px;
    padding: 12px 16px;
}


.icon-beerglass{
    background-image:url('../img/img320/beerglass-icon.png');
    top: 19px;
    left: 259px;
    padding: 12px 12px;
}

.pizza-menu-list, .alcohol-menu-list,.hotdrink-menu-list, .bear-menu-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 286px;
}

.pizza-menu-list-item, .alcohol-menu-list-item,.hotdrink-menu-list-item, .bear-menu-list-item{
    font-family: lato, sans-serif;
    font-size: 14px;
    color: rgba(63, 64, 67, 255);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 9px 0 0 0px;
}

.prise-pizza,.prise-vine,.hotdrink-price,.prise-beer {
    font-family: lato, sans-serif;
    font-size: 13px;
    color: rgba(63, 64, 67, 255);
}

.pizza-description,.vine-description,.hot-drink-discription, .beer-description{
    font-family: lato, sans-serif;
    font-size: 9px;
    color: rgba(63, 64, 67, 255);
padding: 9px 0 0 0;
}

.drink-slogan{
    display: flex;
    width: 320px;
    margin: 32px 0 0 auto;
    background-color: #acd8ad;
}

.drink-slogan-text{
    font-family: lato, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    padding: 9px 18px;
}

.footer-content{
    display: flex;
    margin: 50px auto 0 0;
    justify-content: center;
    align-items: center;
    background-color: #acd8ad;
    flex-direction: column;
    padding: 10px 0;
}

.footer-content-text-first, .footer-content-text-second{
    font-family: lato, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    padding:  4px 0 0px 0px;
}




